* {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

body {
    width: 100%;
    background-color: lightyellow;
}

main {
    width: 100%;
}

#bigImage {
    background-image: url(../images/bus.png);
    background-size: cover;
    background-position-x: center;
    background-position-y: 45%;
    height: 55vh;
    box-shadow: inset black 1em 1em 10em;
    margin-bottom: 2em;
}

main p, main h2 {
    width: 80%;
    margin: auto;
    margin-bottom: 1em;
}

@media (max-width:400px) {
    #bigImage {
        background-position-x: 35%;
    }
}
#busB {
    display:grid;
    grid-template-columns:1fr 1fr;
}

@media (max-width: 800px) {
[id="busB"]{grid-template-columns:}}

.bus-p {
    width: 80%;
    margin-left:6em;
    font-size: 20px;
}

.abtBusImg{
    width:70%;
    height: auto;
    border-radius:40%;
    padding:2% 10%;
}
